<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Benton Tripp's Portfolio & Blog</title>
  <!-- Import custom stylesheet from static folder -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css">
  <!-- Import Font-Awesome -->
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap" rel="stylesheet">
  <noscript>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
  </noscript>
  <!-- Import jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
  <!-- Import custom JavaScript from static folder -->
  <script src="{{ site.baseurl }}/assets/script.js" defer></script>
  <script src="{{ site.baseurl }}/assets/paged-table.js"></script>
</head>